<html>
    <head></head>
    <body>
       <ul>
         <a href="/numbers"><li>Form 이용해보기</li></a>  
         <a href="/form"><li>GET과 POST</li></a>
         <a href="/url/wild"><li>Parameter(wildcard)</li></a>
         <a href="/search"><li>구글/네이버 검색창</li></a>
         <a href="/op_gg"><li>fake op.gg만들기</li></a>
       </ul>
    </body>
</html>