<form action="/search" method="post">
구글 검색
<input type="text" name="google" placeholder="구글 검색"><br>
네이버 검색
<input type="text" name="naver" placeholder="네이버 검색"><br>
<input type="submit" value="검색하기">
</form>